.login_view {
    background-image: url("https://scontent.fdel29-1.fna.fbcdn.net/v/t1.6435-9/64600314_2544978728859963_4342166156199591936_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=EGEuUJ4vPSUAX8kFHiU&_nc_ht=scontent.fdel29-1.fna&oh=00_AfA8uJolS2lKivw-WmdEm-1Gqfhgy_Z1Is1DMqDZa_d5pA&oe=6531FF0B");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas:
        'header'
        'content1'
        'footer';

    overflow: hidden;
}



.header {
    grid-area: header;
    border-bottom:4px solid ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    color: rgb(0, 0, 0);

}

.content1 {
    grid-area: content1;

    position: relative;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    justify-content: space-evenly;
    text-align: center;
    font-size: small;
    background-color: rgba(208, 222, 227, 0.772);
    padding: 20px;
    border-radius: 5px;
    font-family: Helvetica;

    box-sizing: border-box;
}

.content1 input {
    padding: 10px;
    justify-content: space-evenly;
    border-radius: 6px;
    margin: 10px;
    border-width: 0px;
    width: 80%;
    min-width: 50px;
    border-bottom: 1px solid rgba(19, 19, 19, 0.261);
}

.content1 input:hover {
    transform: scale(1.03);
    transition-duration: .1s;
}

.content1 button {
    background-color: rgb(138, 196, 255);
    margin: 20px;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
}

.content1 button:hover {
    transform: scale(1.1);

}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    font-size: large;
    text-shadow: 2px 2px 8px #000000;

}

.footer a {
    color: white;
}


.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    /* padding: 6px 16px; */
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4:-webkit-details-marker {
    display: none;
}


@media only screen and (min-width:768px) {

    .login_view {
        width: 100%;
        display: grid;
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 4fr 100%;
        grid-template-areas:
            'header'
            'content1'
            'footer';
    }

    .content1 {
        grid-area: content1;

        position: relative;
        margin-top: 50px !important;
        margin-bottom: 0px !important;
        margin: 20%;

    }

    .content1 input {
        padding: 10px;
        justify-content: space-evenly;
        border-radius: 6px;
        margin: 10px;
        border-width: 0px;
        width: 50%;
        min-width: 50px;
        border-bottom: 1px solid rgba(19, 19, 19, 0.261);
    }


}